.App {
  text-align: center;
  height:100%;
  min-height:300px;
}

.App-logo {
  height: 35vmin;
  padding: 50px;
}

.App-header {
  background-color: #76c1d4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#submitRoomBtn {
  margin: 10px;
}
